.small-12.columns
  .medium-9.columns
    .row
      = render 'dengue_heat_map'

      #loader-image
      #map-canvas
      #calender

  .medium-3.columns
    .row
      .disqus
        = render 'disqus'
