---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer -mFadCvmkfAAAAAAAAAPiFxW4tuagEzLKx9b86dvMVaVB757mAuiBMDNVNHXk8h_
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '84'
      X-Dropbox-Request-Id:
      - 3ac83dd9fc06abb339d8157ae20e0cb6
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"hash": "a693d9c188ec9958a2b2e1a47cf88165", "thumb_exists": false,
        "bytes": 0, "path": "/", "is_dir": true, "icon": "folder", "root": "app_folder",
        "contents": [{"rev": "232959d5f8", "thumb_exists": false, "path": "/01_09_2014.csv",
        "is_dir": false, "client_mtime": "Mon, 01 Sep 2014 15:39:56 +0000", "icon":
        "page_white", "bytes": 10635, "modified": "Mon, 01 Sep 2014 15:41:15 +0000",
        "size": "10.4 KB", "root": "app_folder", "mime_type": "text/csv", "revision":
        35}, {"rev": "5e2959d5f8", "thumb_exists": false, "path": "/01_10_2014.csv",
        "is_dir": false, "client_mtime": "Tue, 30 Sep 2014 17:32:20 +0000", "icon":
        "page_white", "bytes": 8833, "modified": "Tue, 30 Sep 2014 17:32:19 +0000",
        "size": "8.6 KB", "root": "app_folder", "mime_type": "text/csv", "revision":
        94}, {"rev": "262959d5f8", "thumb_exists": false, "path": "/02_09_2014.csv",
        "is_dir": false, "client_mtime": "Tue, 02 Sep 2014 05:30:54 +0000", [...]
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/01_09_2014.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer -mFadCvmkfAAAAAAAAAPiFxW4tuagEzLKx9b86dvMVaVB757mAuiBMDNVNHXk8h_
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "232959d5f8", "thumb_exists": false, "path": "/01_09_2014.csv", "is_dir":
        false, "client_mtime": "Mon, 01 Sep 2014 15:39:56 +0000", "icon": "page_white",
        "bytes": 10635, "modified": "Mon, 01 Sep 2014 15:41:15 +0000", "size": "10.4
        KB", "root": "app_folder", "mime_type": "text/csv", "revision": 35}'
      X-Server-Response-Time:
      - '169'
      Etag:
      - 35n
      X-Dropbox-Request-Id:
      - 5e526932b9664bd0ef7e8f5e177a4850
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation
    body:
      encoding: UTF-8
      string: |
        Location,Latitude,Longitude,Number of Cases
        Circuit Lk,1.3261675,103.8893141,11
        (Blk 37) Circuit Road ,1.3283032,103.8870762,9
        (Blk 38) Circuit Road ,1.3279319,103.886171,2
        (Blk 39) Circuit Road ,1.327478,103.885705,3
        (Blk 40) Circuit Road ,1.3276793,103.8860794,4
        (Blk 41) Circuit Road ,1.327157,103.886273,2
        ([...]
[...]
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/08_10_2014%20(1).csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer -mFadCvmkfAAAAAAAAAPiFxW4tuagEzLKx9b86dvMVaVB757mAuiBMDNVNHXk8h_
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "662959d5f8", "thumb_exists": false, "path": "/08_10_2014 (1).csv"[...]
[...]
