.footer {
  font-family: 'Silkscreen';
  display: block;
  height: 5em;
  background-color: #660000;
}

.footer-span {
  display: block;
  background-color: black;
  height: 1em;
  opacity: 0.25;
  margin-top: 4em;
}

.footer-list {
  float: right;
  display: inline-block;
  padding: 1em 2em 0 0;
}
