.header {
  background-color: #660000;
  padding: 1em 0 0 0;
}

.header-span {
  display: block;
  background-color: black;
  height: 1em;
  opacity: 0.25;
}

.header-title {
  display: inline-block;
}
