.row {
  margin: 0 !important;
  max-width: 100% !important;
}

.columns {
  padding: 0;
}

p, a, h1, h2, h3, h4, h5 {
  color: white;
  font-family: 'Silkscreen';
}

a:hover {
  color: white;
  text-decoration: underline;
}

