%meta{ property: 'og:title', content: 'Singapore Dengue Visualizer' }
%meta{ property: 'og:type', content: 'website' }
%meta{ property: 'og:url', content: 'http://dengue-visualr.guoxiang.me' }
%meta{ property: 'og:image', content: "#{asset_url('markers/mosquito.png')}" }
%meta{ property: 'og:description', content: 'Better visualization of the dengue clusters in Singapore.' }
